.mySwiper {
  width: 100%;
  height: auto;
}
.mySwiper .swiper-slide {
  height: auto;
}

.mySwiper .swiper-wrapper {
  height: auto;
}

.mySwiper img {
  width: 100%;
  aspect-ratio: 3 / 3;
  display: block;
  object-fit: cover;
}

.product-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 28px;
}

.swiper-pagination-bullet-active {
  background-color: #868b90;
}
