.contact-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin-top: 210px;
}

.contact-page-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  min-height: 90vh;
  background-image: url("/src/assets/forrest/contact/contact_us2.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center 70%;
}

.contact-page-header {
  display: block;
  position: absolute;
  top: 10%;
  left: 55%;
  font-size: 56px;
  font-family: "Italiana";
}

.contact-page-introduction {
  display: block;
  position: absolute;
  top: 21%;
  left: 55%;
  font-size: 25px;
  font-family: "Noto Sans KR-Light";
}

.contact-page-content-container {
  position: absolute;
  display: flex;
  gap: 4vw;
  top: 25%;
  left: 55%;
}

.contact-page-content-header {
  display: block;
  position: absolute;
  top: 40%;
  left: 50%;
  font-size: 20px;
  font-family: "Noto Sans KR-Light";
  margin-top: 10px;
}

.contact-content-box {
  display: flex;
  flex-direction: column;
  gap: 5vh;
}

.contact-content-header {
  display: block;
  font-size: 25px;
  font-family: "Montserrat-Light";
  margin-top: 10px;
}

.contact-page-content {
  display: block;
  font-size: 20px;
  font-family: "Noto Sans KR-Light";
  margin-top: 10px;
}

.contact-social-box {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@media (min-width: 1440px) and (max-width: 1920px) {
  .contact-page-container {
    background-size: 110% auto;
    background-position: 100% 70%;
  }

  .contact-page-content-container {
    top: 27%;
    left: 45%;
  }
  .contact-page-header {
    top: 9%;
    left: 45%;
    font-size: 54px;
  }
  .contact-page-introduction {
    top: 22%;
    left: 45%;
    font-size: 23px;
  }

  .contact-content-header {
    font-size: 24px;
  }

  .contact-page-content {
    font-size: 19px;
  }
}

@media (min-width: 1280px) and (max-width: 1440px) {
  .contact-page-container {
    background-size: 110% auto;
    background-position: 100% 70%;
  }

  .contact-page-content-container {
    top: 27%;
    left: 44%;
  }
  .contact-page-header {
    top: 9%;
    left: 44%;
    font-size: 52px;
  }
  .contact-page-introduction {
    top: 22%;
    left: 44%;
    font-size: 23px;
  }

  .contact-content-header {
    font-size: 21px;
  }

  .contact-page-content {
    font-size: 17px;
  }
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .contact-page-container {
    background-size: 110% auto;
    background-position: 100% 70%;
  }

  .contact-page-content-container {
    top: 27%;
    left: 40%;
  }
  .contact-page-header {
    top: 9%;
    left: 40%;
    font-size: 50px;
  }
  .contact-page-introduction {
    top: 22%;
    left: 40%;
    font-size: 21px;
  }

  .contact-content-header {
    font-size: 21px;
  }

  .contact-page-content {
    font-size: 17px;
  }
}
