.works-page {
  display: flex;
  width: 100%;
  height: auto;
  min-height: 100vh;
  margin-top: 220px;
  margin-bottom: 100px;
}

.works-category {
  flex: 1;
  display: flex;
  justify-content: center;
}

.works-portfolio {
  flex: 5;
  width: 100%;
  padding: 0 min(75px, 3.90625%);
}

.works-page-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.works-product-container {
  width: 100%;
}

.works-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 30px;
  column-gap: 10px;
  row-gap: 100px;
}

.works-product-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.works-page-category-container {
  margin-top: 50px;
  padding: 0 30px;
}

.works-product-introduction {
  display: flex;
  justify-content: center;
  gap: 5px;
  width: 100%;
}

.works-category-item-en {
  margin: 8px;
  font-family: "Montserrat-Light";
  cursor: pointer;
}

.works-category-item-en.selected {
  opacity: 0.5;
}

.works-category-item-en:hover {
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.works-category-item-kr {
  margin: 8px;
  font-family: "Noto Sans KR-Light";
  cursor: pointer;
}

.works-category-item-kr.selected {
  opacity: 0.5;
}

.works-category-item-kr:hover {
  opacity: 0.5;
  transition: opacity 0.3s ease;
}
