/*헤더 - 메인 페이지*/
.forrest-header {
  color: white;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding-top: 40px;
  z-index: 100;
}

.forrest-header-container {
  display: flex;
  flex-direction: column;
}

.forrest-header.scrolled {
  color: black;
  position: fixed;
  padding-top: 0;
  background-color: white;
  border-bottom: 1px solid #ddd;
}

.forrest-header.scrolled.visible {
  transform: translateY(0);
  transition: all 0.3s ease;
  opacity: 1;
}

.forrest-header.scrolled.hidden {
  transform: translateY(-100%);
  transition: all 0.3s ease;
  opacity: 0;
}

.forrest-header > .forrest-flexbox {
  position: relative;
  display: block;
  max-width: 1920px;
  margin: 0 auto;
}

.forrest-header-logo {
  text-align: center;
  font-size: 55px;
}

.forrest-header-logo a {
  text-decoration: none;
  color: inherit;
}

.forrest-header-logo,
.forrest-header-logo a,
.forrest-header-logo span {
  font-family: "Italiana", serif !important;
}

/**헤더 - 메인 페이지(모바일)**/
.forrest-mobile-header-logo,
.forrest-mobile-header-logo a,
.forrest-mobile-header-logo span {
  font-family: "Italiana", serif !important;
}

.forrest-mobile-header-logo {
  text-align: center;
  font-size: 40px;
  padding: 10px 0;
}

.forrest-mobile-header-logo a {
  text-decoration: none;
  color: inherit;
}

.forrest-mobile-header {
  transition: all 0.3s ease;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding-top: 10px;
  z-index: 5;
}

.forrest-mobile-header.open {
  transition: all 0.3s ease;
  top: 0;
  left: 22%;
}

.forrest-mobile-header-container {
  display: flex;
  flex-direction: row;
}

.forrest-mobile-header.scrolled {
  top: 0;
  left: 0;
  color: black;
  position: fixed;
  padding-top: 0;
  background-color: white;
  border-bottom: 1px solid #ddd;
}

.forrest-mobile-header.scrolled.open {
  transition: all 0.3s ease;
  top: 0;
  left: 22%;
  position: fixed;
  padding-top: 0;
  background-color: white;
  border-bottom: 1px solid #ddd;
}

.forrest-mobile-header > .forrest-mobile-flexbox {
  position: relative;
  display: block;
  max-width: 1023px;
  margin: 0 auto;
}

.forrest-mobile-header-logo {
  text-align: center;
  font-size: 40px;
}

.forrest-mobile-header-logo a {
  text-decoration: none;
  color: inherit;
}

.forrest-mobile-header-logo,
.forrest-mobile-header-logo a,
.forrest-mobile-header-logo span {
  font-family: "Italiana", serif !important;
}

/*햄버거*/
.forrest-mobile-header-menu {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 35px;
  height: 35px;
  left: 0;
  top: 3.5%;
  z-index: 7;
  padding: 0 0 17px 24px;
  opacity: 1;
  transition: opacity 0.2s linear;
  cursor: pointer;
}

.forrest-mobile-header-menu::before,
.forrest-mobile-header-menu::after,
.forrest-mobile-header-menu span {
  content: "";
  position: absolute;
  left: 20px;
  width: 29px;
  height: 1px;
  background-color: #fff;
  transition: all 0.3s ease;
}

.forrest-mobile-header-menu.scrolled::before,
.forrest-mobile-header-menu.scrolled::after,
.forrest-mobile-header-menu.scrolled span {
  content: "";
  position: absolute;
  left: 20px;
  width: 29px;
  height: 1px;
  background-color: black;
  transition: all 0.3s ease;
}

.forrest-mobile-header-menu.open {
  left: 30%;
  transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
  .forrest-mobile-header-menu.open {
    left: 50%;
  }

  .forrest-mobile-header.open {
    left: 36%;
  }
}

.forrest-mobile-header-menu::before {
  top: calc(40% - 9px);
}

.forrest-mobile-header-menu::after {
  top: calc(40% + 8px);
}

.forrest-mobile-header-menu span {
  top: calc(40% - 0.5px);
}

.forrest-mobile-header-menu.open::before {
  background-color: #fff;
  transform: translateY(-10px) rotate(-45deg);
  top: calc(75% - 9px);
}

.forrest-mobile-header-menu.open::after {
  background-color: #fff;
  transform: translateY(8px) rotate(45deg);
  top: calc(10% + 8px);
}

.forrest-mobile-header-menu.open span {
  background-color: transparent;
  opacity: 0;
}

.mobile-menu-dim-cover {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  transition: all 0.3s ease;
  background-color: #000;
  top: 0;
  left: 0;
  z-index: 5;
}

.works-product-container {
  width: 100%;
  padding: 0 min(75px, 3.90625%);
}

.works-product-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.works-product-introduction {
  display: flex;
  justify-content: center;
  gap: 5px;
  width: 100%;
}

.works-product-header {
  display: flex;
  font-family: "Italiana";
  font-size: 55px;
  margin-bottom: 50px;
  align-items: center;
  justify-content: center;
  color: black;
}

/*헤더 - 내부 페이지*/
.detail-page-header {
  background-color: white;
  color: black;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 40px;
  border-bottom: 1px solid #ddd;
  z-index: 100;
}

.detail-page-header.hidden {
  transform: translateY(-100%);
  transition: all 0.3s ease;
  opacity: 0;
}

.detail-page-header.scrolled {
  padding-top: 0px;
  background-color: white;
  color: black;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 1px solid #ddd;
  transform: translateY(0);
  transition: all 0.3s ease;
  position: fixed;
  opacity: 1;
}

.detail-page-header.scrolled.visible {
  transform: translateY(0);
  transition: all 0.3s ease;
  opacity: 1;
}

.detail-page-header.scrolled.hidden {
  transform: translateY(-100%);
  transition: all 0.3s ease;
  opacity: 0;
}

.detail-page-header-container {
  display: flex;
  flex-direction: column;
}

.detail-page-header-logo {
  text-align: center;
  font-size: 55px;
  color: black;
}

.detail-page-header > .detail-page-flexbox {
  position: relative;
  display: block;
  max-width: 1920px;
  margin: 0 auto;
}

.detail-page-header-logo a {
  text-decoration: none;
  color: inherit;
}

.detail-page-header-logo,
.detail-page-header-logo a,
.detail-page-header-logo span {
  font-family: "Italiana", serif !important;
}

/*네비게이션 바 - 메인 페이지*/
.forrest-header-gnb {
  display: block;
}

.gnb {
  margin-top: 6px;
}

.gnb.scrolled {
  margin-top: 0px;
}

.gnb-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 14.0625%;
  padding-left: 14.0625%;
  max-width: 1280px;
}

.gnb-item > .block {
  position: relative;
  color: #fff;
  padding: 37px 0 34px;
  width: 100%;
}

.gnb-item > .block.scrolled {
  padding: 30px 0 27px;
  color: black;
}

.gnb-item > .block .underline {
  cursor: pointer;
  text-transform: uppercase;
  font-size: 20px;
  font-family: Montserrat-ExtraLight;
  font-weight: 500;
  letter-spacing: 1px;
  position: relative;
  padding-bottom: 5px;
  margin-bottom: -5px;
  line-height: 1;
  display: inline-block;
}

.gnb-item > .block .underline::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s linear;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: currentColor;
  will-change: transform;
}

.gnb-item > .block .underline:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

/*네비게이션 바 - 세부 페이지*/
.detail-page-header-gnb {
  display: block;
}

.detail-page-gnb {
  margin-top: 6px;
}

.detail-page-gnb-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 14.0625%;
  padding-left: 14.0625%;
  max-width: 1280px;
}

.detail-page-gnb-item > .block {
  position: relative;
  color: black;
  padding: 37px 0 34px;
  width: 100%;
}

.detail-page-gnb-item > .block .underline {
  cursor: pointer;
  text-transform: uppercase;
  font-size: 20px;
  font-family: Montserrat-ExtraLight;
  font-weight: 500;
  letter-spacing: 1px;
  position: relative;
  padding-bottom: 5px;
  margin-bottom: -5px;
  line-height: 1;
  display: inline-block;
}

.detail-page-gnb-item > .block .underline::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s linear;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: currentColor;
  will-change: transform;
}

.detail-page-gnb-item > .block .underline:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

/* 모바일 */
@media (max-width: 1023px) {
  .l-sidenav {
    display: block;
  }
  .l-header__gnb {
    display: none;
  }
}

/* PC */
@media (min-width: 1024px) {
  .l-sidenav {
    display: none;
  }
  .l-header__gnb {
    display: block;
  }
}
