.category-item {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  cursor: pointer;
}
.category-item:hover {
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.category-title {
  font-size: 20px;
  font-family: "Montserrat-Regular";
}

.category-list {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.4s ease, opacity 0.3s ease;
}

.category-list.active {
  max-height: 200px;
  opacity: 1;
}

.category-item-en {
  margin: 8px;
  font-family: "Montserrat-Light";
  cursor: pointer;
}

.category-item-en:hover {
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.category-item-kr {
  margin: 8px;
  font-family: "Noto Sans KR-Light";
  cursor: pointer;
}

.category-item-kr:hover {
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.category-item .arrow {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%) rotateZ(0deg);
  transform-origin: right center;
  transition: transform 0.4s ease;
  width: 10px;
  height: 10px;
  background-size: contain;
  background-repeat: no-repeat;
}

.category-item.active .arrow {
  transform: translateY(-50%) rotateZ(180deg);
}

/*페이지 네이션*/
.works-pagination {
  display: flex;
  justify-content: center;
}

.pagination-list {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.page-number {
  font-family: Montserrat-Regular;
  cursor: pointer;
}

.page-number:hover {
  opacity: 0.5;
  transition: opacity 0.1s ease;
}

.page-number-clicked {
  font-weight: 500;
  font-family: Montserrat-Regular;
  color: #bec7aa;
  cursor: pointer;
}

.category-item-kr:hover {
  opacity: 0.5;
  transition: opacity 0.3s ease;
}
